<html lang="fr">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <script src="../src/p5.min.js"></script>
        <script src="../src/sierpinski.js"></script>
        <script src="../src/Point.js"></script>
        <link rel="stylesheet" href="style.css">
        <title>Scripts'n'Stuff</title>
    </head>
    <body>
        <h1>Scripts'n'Stuff</h1>

        <div class="topnav">
            <a href="#sierpinski-title">Sierpinski</a>
            <a href="#collisions-title">Collisions</a>
        </div>

        <h2> 
            <a name="sierpinski-title">
                Sierpinski
            </a>
        </h2>
        <div class="text-div">Each point is placed at the midpoint between the the last point placed and a randomly chosen vertex of the triangle. The first point is placed randomly within the triangle. The Sierpinski fractal appears.</div>
        <div class="script-div" id="sierpinski"></div>

        <h2> 
            <a name="collisions-title">
                Collisions
            </a>
        </h2>
        <div class="text-div"> </div>
        <div class="script-div" id="collisions"></div>

    </body>
</html>